<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="users/fragments/common :: common-head" />
</head>
<body>
	<header th:replace="users/fragments/common :: common-header"></header>

	<section class="container">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
			do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
			enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
			ut aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum. Sed ut
			perspiciatis unde omnis iste natus error sit voluptatem accusantium
			doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
			inventore veritatis et quasi architecto beatae vitae dicta sunt
			explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
			aut odit aut fugit, sed quia consequuntur magni dolores eos qui
			ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
			dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
			quia non numquam eius modi tempora incidunt ut labore et dolore
			magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
			nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
			aliquid ex ea commodi consequatur? Quis autem vel eum iure
			reprehenderit qui in ea voluptate velit esse quam nihil molestiae
			consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
			pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus
			qui blanditiis praesentium voluptatum deleniti atque corrupti quos
			dolores et quas molestias excepturi sint occaecati cupiditate non
			provident, similique sunt in culpa qui officia deserunt mollitia
			animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
			est et expedita distinctio. Nam libero tempore, cum soluta nobis est
			eligendi optio cumque nihil impedit quo minus id quod maxime placeat
			facere possimus, omnis voluptas assumenda est, omnis dolor
			repellendus. Temporibus autem quibusdam et aut officiis debitis aut
			rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint
			et molestiae non recusandae. Itaque earum rerum hic tenetur a
			sapiente delectus, ut aut reiciendis voluptatibus maiores alias
			consequatur aut perferendis doloribus asperiores repellat.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
			do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
			enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
			ut aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum. Sed ut
			perspiciatis unde omnis iste natus error sit voluptatem accusantium
			doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
			inventore veritatis et quasi architecto beatae vitae dicta sunt
			explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
			aut odit aut fugit, sed quia consequuntur magni dolores eos qui
			ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
			dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
			quia non numquam eius modi tempora incidunt ut labore et dolore
			magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
			nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
			aliquid ex ea commodi consequatur? Quis autem vel eum iure
			reprehenderit qui in ea voluptate velit esse quam nihil molestiae
			consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
			pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus
			qui blanditiis praesentium voluptatum deleniti atque corrupti quos
			dolores et quas molestias excepturi sint occaecati cupiditate non
			provident, similique sunt in culpa qui officia deserunt mollitia
			animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
			est et expedita distinctio. Nam libero tempore, cum soluta nobis est
			eligendi optio cumque nihil impedit quo minus id quod maxime placeat
			facere possimus, omnis voluptas assumenda est, omnis dolor
			repellendus. Temporibus autem quibusdam et aut officiis debitis aut
			rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint
			et molestiae non recusandae. Itaque earum rerum hic tenetur a
			sapiente delectus, ut aut reiciendis voluptatibus maiores alias
			consequatur aut perferendis doloribus asperiores repellat.</p>


		<h3 id="FR-delivery">
			Frais et délais de livraison en France métropolitaine et à Monaco
			</h3>
				<p>Vous trouverez ci-dessous les frais et délais de livraison
					associés à l'envoi d'un colis vers la France métropolitaine et
					Monaco. Table des matières Informations générales Livraison
					Standard Livraison Prioritaire Livraison Express Livraison le soir
					même Livraison à la carte Livraison dans la pièce de votre choix
					Livraison au pied de votre domicile Informations générales Si vous
					le souhaitez, vous pouvez consulter nos frais de livraison pour une
					livraison hors de France métropolitaine ou une livraison en point
					relais sur leurs pages respectives. Remarque: Veuillez noter que
					les frais de livraison ci-dessous correspondent aux articles
					expédiés par Amazon. Les frais et délais de livraison pour les
					articles expédiés par les vendeurs Marketplace sur Amazon.fr
					peuvent varier. Les frais de livraison seront indiqués sur le
					récapitulatif de votre commande juste avant de la valider. Vous
					pouvez vous faire une idée des frais de livraison éventuels
					appliqués à une commande passée auprès d'un vendeur Marketplace en
					consultant la page Frais de livraison des articles Marketplace.
					Pour les articles vendus par les vendeurs sur Marketplace,
					consultez les frais de livraison Marketplace indiqués sur la page
					du produit. La disponibilité des modes de livraison ci-dessous peut
					varier en fonction de l'article. Vous trouverez plus d'informations
					relatives aux modes de livraison spécifiques à votre article sur la
					page détaillée de celui-ci ou encore sur la page Vérification et
					validation de votre commande lors du processus d'achat. Remarque:
					Afin que votre commande bénéficie de ces garanties de livraison
					dans les délais, votre carte de paiement doit avoir été débitée
					avec succès au plus tard à l'heure limite indiquée sur la page
					détaillée de l'article. Une loi nous interdit de vous proposer la
					remise de 5 %, ainsi que la livraison gratuite en France pour vos
					commandes de livres. Pour plus d'informations, rendez-vous sur la
					Foire aux questions. Livraison Standard Pour une description
					complète de ce mode de livraison, cliquez ici. Livraison en 3 à 5
					jours ouvrés entre 8h et 21h. Les frais de livraison exacts seront
					affichés au moment de la commande. Frais Détails 0,01 EUR par envoi
					pour une commande ne contenant que des livres sans minimum
					d'achat*. 1,99 EUR par envoi pour une commande en dessous de 25 EUR
					ne contenant que certains articles pouvant être livrés dans une
					petite ou grande enveloppe. 2,99 EUR par envoi pour une commande
					en-dessous de 25 EUR contenant des articles média autres que des
					livres (Musique, DVD, Logiciels et Jeux Vidéo)*. 4,99 EUR par envoi
					pour une commande en-dessous de 25 EUR contenant d'autres
					articles*. GRATUIT pour une commande au-dessus de 25 EUR ne
					contenant pas de livre*. 0,01 EUR par envoi pour une commande
					au-dessus de 25 EUR contenant au moins un livre*. Avec Amazon Prime
					: GRATUIT, sans minimum d'achat*1,**2 Disponible pour tout article
					expédié par Amazon.fr. Les colis sont livrés dans votre
					boîte-aux-lettres ou en main propre. Voir conditions</p>
	</section>

	<footer th:replace="users/fragments/common :: common-footer"></footer>
</body>
</html>