@charset "UTF-8";

/********************************************
*      Partie header pour toutes les pages  *
*********************************************/

/*
 * Couleur arrière plan de toutes les pages
 * Les 3 premiers règles de mise en page, pour obtenir des pages au dessus du Footer avec flex
 */
html, body {
	/* Affichage en flex du contenu body pour le web responsive */
	display: flex;
	/* pour avoir footer always in bottom, même si body est vide */
	min-height: 100vh;
	/* Le redimensionnement se fait par colonne (par block) et row par ligne */
	flex-direction: column;
	background-color: #DCDCDC;
}

/* L'élément est dimensionné selon ses propriétés width et height mais 
peut grandir pour absorber l'espace libre disponible dans le conteneur 
flexible ou rétrécir à sa taille minimale pour rentrer dans le conteneur. 
Cette valeur est équivalente à "flex: 1 1 auto". 
section est présente sur toutes les pages, donc une seule déclaration dans header concerne tous.*/
section {
	flex: auto;
}

/* Taille et couleur de la partie top-page de toutes les pages */
header {
	min-height: 1em;
	background-color: #DF6D14;
}
/* Taille du slogan dans la barre de navigation */
nav img {
	border-radius: 0.5em;
	width: 8.5em;
	height: 2.5em;
}

/********************************************
*      Partie footer pour toutes les pages  *
*********************************************/
footer {
	margin-top: 2em;
	background-color: #DF6D14;
	color: #000;
}

/* Enlever les puces et les marges de gauches des listes <li> */
footer ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-left: 0;
}

/* Jeu de couleur avec filtre de gris et taille des réseaux sociaux */
footer .social-networks img {
	width: 2.8em;
	height: 2.8em;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
}
/* Couleur des images normal au passage de la souris */
footer .social-networks img:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}

/* Aligner les pictogrammes SVG de Google Fonts en TOP pour qu'ils soient sur 
la même ligne que le texte pour Header et Footer.*/
i {
	vertical-align: top;
}

footer hr {
	margin-top: -0.9em;
	border: none;
	height: 0.3em;
	width: 80%;
	background-color: #C0C0C0;
}

/* Couleur des liens lors du passage de la souris pour toutes les pages  */
a, a:link {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #DAB30A;
	text-decoration: none;
}

/* Aligner les pictogrammes SVG de Google Fonts en TOP pour qu'ils soient sur 
la même ligne que le texte pour toutes les pages.*/
i {
	vertical-align: top;
}

/* Propriétées des grands titres pour toutes les pages */
.great-title {
	margin-top:0.5em;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.8em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
	text-align: center;
}

.great-title span {
	background-color: #231F20;
}

.great-title hr {
	margin-top: -0.9em;
	border: none;
	height: 0.3em;
	width: 80%;
	background-color: #C0C0C0;
}